<%-include('./includes/head')%>

<body>
    <%-include('./includes/navigation')%>

  <% if(articles.length>0){ %>

    <% for ( let article of articles){ %>

        <div class="card">

            <div class="div-header">
                <a href="#" ><h1><%=article.title%></h1></a>
            
            </div>
           <div>
            <p><%=article.description%></p>
        </div>

        <div>
            <a href="" type="button" class="">Read More</a>
        </div>
        </div>
       
        
    <% } %>

    <%  } else { %>

        <h1>No Articles Found</h1>

        <%}%>


</body>
<%-include('./includes/end')%>